# Exercises: Complex queries

For the exercises, you are tasked with writing five queries that will help you delve deeper into BooksDB. You can choose whether you want to use a correlated subquery, a nested subquery, the UNION operator, the INTERSECT operator, or the EXCEPT operator for each one. You may not use joins or add multiple statements to the WHERE clause.

1. Write a query that will return the number of users who rated a book above it's average rating.

In [30]:
--Sloved using join for comparison
SELECT COUNT(user_id) AS 'user ratings above average'
FROM books AS b
LEFT JOIN ratings AS r
ON b.book_id = r.book_id
WHERE b.average_rating < r.rating;

--Using sub query
SELECT COUNT(user_id) AS "user ratings above average"
FROM ratings 
WHERE rating > (SELECT average_rating FROM books WHERE ratings.book_id = books.book_id);

user ratings above average
40960

user ratings above average
40960

2. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star or over 1000 ratings of 5 stars.

In [122]:
SELECT COUNT(rating) AS rating_count, book_id
FROM ratings
WHERE rating =1
GROUP BY book_id
HAVING COUNT(rating) >1000
UNION
SELECT COUNT(rating) AS rating_count, book_id
FROM ratings
WHERE rating = 5
GROUP BY book_id
HAVING COUNT(rating) >1000;

3. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star and over 1000 ratings of 5 stars.

In [105]:
SELECT book_id
FROM ratings WHERE 
(SELECT COUNT (rating)
FROM ratings
GROUP BY book_id, ratings.rating
HAVING rating = 1 AND rating = 5 ) > 1000;

4. Write a query that returns the book ids of books that have a language code of "en-US" and not a langugae code of "en-GB".

In [57]:
SELECT TOP 10 book_id
FROM books
WHERE language_code ='en-US'
EXCEPT
SELECT book_id
FROM books
WHERE language_code ='en-GB';

book_id
11
1934
5907
37435
41865
113436
428263
1162543
1656001
6442769

5. Write a query that returns the names of the tags and the tag ids for tags that were used over 100,000 times for a book.

In [83]:
    SELECT TOP 10 tag_name, tag_id 
    FROM tags
    WHERE
    (SELECT SUM(count) 
    FROM book_tags
    WHERE book_tags.tag_id = tags.tag_id
    GROUP BY tag_id) > 100000
    ORDER BY tag_name ASC;

tag_name,tag_id
abandoned,1416
adult,1642
adult-fiction,1659
adventure,1691
all-time-favorites,2104
audible,3358
audio,3371
audiobook,3389
audiobooks,3392
biography,4605